{% extends 'admin/base_site.html' %}

{% load static %}

{% block content %}
  <div class="container">
    <div class="producto-cuadro">
      <h1 class="titulo">Datos</h1>  

      <div class="datos-container">
        {% if producto_mas_vendido %}
          <div class="producto-info">
            <h2 class="section-title">Producto Más Vendido</h2>
            <p><strong>Producto:</strong> <span class="info">{{ producto_mas_vendido.producto__nombre }}</span></p>
            <p><strong>Total Vendido:</strong> <span class="info">{{ producto_mas_vendido.total_vendido }}</span></p>
          </div>
        {% else %}
          <p class="no-ventas">No se ha registrado ninguna venta.</p>
        {% endif %}

        <div class="usuario-info">
          <h2 class="section-title">Usuarios</h2>
          <p><strong>Total de Usuarios:</strong> <span class="info">{{ total_usuarios }}</span></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
